extends layout/layout

block content
	div.fill
		div.row
			div(class="col-lg-2 header3")
				include layout/head
			div.col-lg-10
				div.wrapper
					include layout/slider
	div(class="index_content sec01")
		div.container
			div.row
				if(session.language == 'Mn')
					div.col-sm-8
						h1 Агарта нэрийн тухай
						p Agartha(Заримдаа Agartta, Agharti, Agarta эсвэл Agarttha) гэдэг нь дэлхийн зүрхэвчинд оршдог гэж яригддаг домогт хот юм. Энэ нь эзотерицизм дахь алдартай сэдэв болох хөндий дэлхий гэсэн итгэл үнэмшилтэй холбоотой.
						p Alexandre Saint-Yves Alveydre Агартагийн тухай Европ дахь анхны итгэж болохуйц баримтыг хэвлэжээ. Түүний хэлж байгаагаар Агартагийн нууц ертөнц болон уг ертөнцийн цэцэн ухаан болон эд хөрөнгөнд “Христийн шашин Мозес болон Есүс нарын бичиж байсан сургаалийг баримтлан амьдардаг болсон үед нэвтэрч болно” гэжээ. Үүний утга нь “Манай ертөнцөд оршин байдаг Анархи (эмх цэгцгүй байдал) Синархи (хамтарсан удирдлага)-аар солигдсон үед гэнэ.” Saint-Yves номондоо Агартаг Төвдийн Гималайн нуруунд байрлалтай үнэхээр оршин байдаг орон мэтээр маш бодитойгоор бичжээ. Saint-Yves-ын Агартагийн түүхийн хувилбар “Илчлэлтийн мэдээлэл” гэнэ. Saint-Yves зохицлын харилцаагаар дамжуулан хүлээн авсан мэдээлэл юм байна.
				if(session.language == 'En')
					div.col-sm-8
						h1 Origins of the name Agartha
						p Agartha (sometimes Agartta, Agharti or Agarttha) is a legendary city that is said to reside in the Earth's core. It is related to the Hollow Earth theory and is a popular subject in Esotericism. Agartha is one of the most common names cited for the society of underground dwellers. Shamballa (also known as Shambalah or Shangri-La) is sometimes said to be its capital city.
				div.col-sm-4
					center
						img(src="../images/index/sec01/01.png", width="50%", style="transform:translateY(-10%)")

	div(class="index_content sec03")
		div.container
			div.row
				div.col-sm-3
					img(src="../images/index/sec03/01.png")
					p.num 950
					p Улаанбаатар хотоос
				div.col-sm-3
					img(src="../images/index/sec03/02.png")
					p.num 70
					p Хатгалаас завиар
				div.col-sm-3
					img(src="../images/index/sec03/01.png")
					p.num 111
					p Хатгалаас газраар
				div.col-sm-3
					img(src="../images/index/sec03/04.png", width="83%")
					p.num 1000
					p Магадгүй таны гэрээс
	div(class="index_content sec02")
		div.container
			div.row
				div.col-sm-3
					img(src="../images/index/sec02/02.png", width="100%")
				if(session.language == 'Mn')
					div.col-sm-9
						h1 Үлгэр домгийн холбоо
						p Агартаг байнга Шамбалын оронтой хольж андуурдаг. Шамбалын орон нь Буддын Важраяана, Төвдийн Калачакрагийн сургаалиудад төсөөлөгддөг бөгөөд Баруунд Блавацкий болон Теософизмын Нийгэмлэг нэврүүлсэн юм. Теософистууд голдуу Агартийг Төвдийн доор орших асар өргөн цогцолбор агуйнууд гэж үздэг бөгөөд Азура гэх ад чөтгөрүүд оршдог гэнэ. Сургууль нь теософизмтой маш дөхөм байдаг, Хелена болон Николай Рерих нар Шамбалын орны оршин байдгийг хий болон биет аль алинаар нь харсан гэнэ.
						p Эртний грекүүд Гиперборея гэдэг төгс төгөлдөр орон Төв Азид буй гэдэг байсныг хожмын судлаачид Монголтой холбон үзжээ.
						br
						p Бас сөнөсөн тивийн хүмүүс атлантид нар Монголд очсон, тэгээд хуваагдаж Шамбал, Агарти хэмээх хоёр хүчирхэг хаант улс үүсгэсэн, Шамбалд нь байгаль, хүн төрөлхтнийг захирах хүч буй болсон, Агартийн иргэд цэвэр бясалгалд автсан гэх домог буй.
						p Америк үзмэрч Э.Кейси “Атлантчууд Египет, Төв Америк, Монгол руу явсан. Говьд алтан дээвэртэй сүм, бүсгүй хүний цул алтан баримал байж. Би энэ бүхнийг үзэж харлаа” гэжээ. Өөр нэг домгоор бол Эдем Говьд байсан, суурин дээр нь Цагаан арал гэдэг орон үүссэн, энэ орныхон Шамбал, Агарти орон болж хуваагдсан, нэг хэсэг нь өрнө рүү явсан нь арийчууд гэдэг. Агартид ч гэсэн агуу хүч бий хэмээдэг бөгөөд, үүнд итгэгсдийн нэг зохиолч Ф.Оссендовский Монголд Агартиг хайж явжээ.
				if(session.language == 'En')
					div.col-sm-8
						h1 Relationship of poems
						p Агартаг байнга Шамбалын оронтой хольж андуурдаг. Шамбалын орон нь Буддын Важраяана, Төвдийн Калачакрагийн сургаалиудад төсөөлөгддөг бөгөөд Баруунд Блавацкий болон Теософизмын Нийгэмлэг нэврүүлсэн юм. Теософистууд голдуу Агартийг Төвдийн доор орших асар өргөн цогцолбор агуйнууд гэж үздэг бөгөөд Азура гэх ад чөтгөрүүд оршдог гэнэ. Сургууль нь теософизмтой маш дөхөм байдаг, Хелена болон Николай Рерих нар Шамбалын орны оршин байдгийг хий болон биет аль алинаар нь харсан гэнэ.
						p Эртний грекүүд Гиперборея гэдэг төгс төгөлдөр орон Төв Азид буй гэдэг байсныг хожмын судлаачид Монголтой холбон үзжээ.
						br
						p Бас сөнөсөн тивийн хүмүүс атлантид нар Монголд очсон, тэгээд хуваагдаж Шамбал, Агарти хэмээх хоёр хүчирхэг хаант улс үүсгэсэн, Шамбалд нь байгаль, хүн төрөлхтнийг захирах хүч буй болсон, Агартийн иргэд цэвэр бясалгалд автсан гэх домог буй.
						p Америк үзмэрч Э.Кейси “Атлантчууд Египет, Төв Америк, Монгол руу явсан. Говьд алтан дээвэртэй сүм, бүсгүй хүний цул алтан баримал байж. Би энэ бүхнийг үзэж харлаа” гэжээ. Өөр нэг домгоор бол Эдем Говьд байсан, суурин дээр нь Цагаан арал гэдэг орон үүссэн, энэ орныхон Шамбал, Агарти орон болж хуваагдсан, нэг хэсэг нь өрнө рүү явсан нь арийчууд гэдэг. Агартид ч гэсэн агуу хүч бий хэмээдэг бөгөөд, үүнд итгэгсдийн нэг зохиолч Ф.Оссендовский Монголд Агартиг хайж явжээ.