html {
  height: 100%;
}

body {
  background-image: url("../images/worker_background.jpg");
  background-size: cover;
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 23px;
}

p {
  margin: 0px;
}

.profile-card {
  background-color: #DDD;
  opacity: 0.9;
  border-radius: 5px;
  border: 1px solid;
  width: 60%;
  height: 60%;
  position: absolute;
  left: 20%;
  top: 15%;
  z-index: 0;
}

.profile-card header {
  width: 100%;
  height: 300px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  margin-top: 50px;
  text-align: center;
}

.profile-card header h2 {
  color: #FF5722;
}

.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
}

img {
  border-radius: 50%;
  border: 4px solid;
}