extends ../layout/layout

block content
	div.container
		h1 Нэмэлт үйлчилгээ
		h4 Монгол орны хамгийн том нуурын нэг болон 2760 ам.километр талбай бүхий Хөвсгөл нуурыг усан аялалгүйгээр төсөөлөхийн аргагүй.
		h4 Эрт цагт Монголчуудын "Ариг ус" хэмээн дээдэлдэг байсан Хөвсгөл нуурт 46 гол горхи цутган тэтгэж, сибирийн хадран, зэвэг гэх мэт 12 зүйлийн загас амьдардаг ба халуун орноос олон төрлийн ховор шувууд нуурыг зорин нүүдэллэн ирж зусдаг.
		h6 Хөвсгөл нуур нь онцгой сайхан байгаль бүхий Модон хүй, өндөр хясаа ихтэй тул шувууд олноороо цугладаг Хадан хүй, битүү ой модоор бүрхэгдсэн Далайн хүй, Бага хүй гэсэн өөр хоорондоо адилгүй 4 өөр аралтайгаараа мөн онцлог. Иймд эрхэм та энэ гайхамшигт нуурын хүний хөл хүрээгүй онгон дагшин газруудаар буюу нуурын баруун, зүүн эргүүдээр Yamaha брендийн тийрэлтэт хөдөлгүүрт завь, сүүлийн 8 жилд тасралтгүй олон зуун усан аялал удирдан зохион байгуулсан туршлагатай жолооч хөтөчийн хамт аялан байгалийн сайхныг өөрийн биеэр мэдрэх ховорхон боломжийг "Агарти" амралтын газар таньд санал болгож байна.
		include ../layout/slidecontent