nav(class="navbar navbar-inverse fixed-top navbar-expand-sm")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#myNavbar")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand" href="/") Agartha Mongolian camp
		div(class="collapse navbar-collapse", id="myNavbar")
			ul(class="nav navbar-nav", style="color:#fff")
				li
					a(href="/accommodation")	Accommodation
				
				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Restaurant / Lounge
					ul.dropdown-menu
						li
							a(href="/lounge/ger_restaurant") Restaurant
						li
							a(href="/lounge/terrace") Lounge and Terrace
				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Pool
					ul.dropdown-menu
						li
							a(href="/saun/jakus") Japan sauna
						li
							a(href="/saun/massage") Massage and Facial

				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Tour
					ul.dropdown-menu
						li
							a(href="/travel/boat") Lake tour
						li
							a(href="/travel/moto") Four wheel tour

				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#") Complimentary services
					ul.dropdown-menu
						li
							a(href="/additional_service/tennis") Tennis
						li
							a(href="/additional_service/sand_beach") Sand beach
						li
							a(href="/additional_service/kinder") Kinder garten
				li()
					a(href="/memo")	Remark
				li()
					a(href="/contact")	Contact
			div(style="float:right")
				ul(class="nav navbar-nav", style="color:#fff")
					li
						a(href="/language/1", style="border:1px solid")
							img(src="../images/flag_en.png", width="20px")
					li
						a(href="/language/0")
							img(src="../images/flag_mn.png", width="20px")