div(class="container-gallery")
	img(src="../images/background/01.jpg" alt="")
	img(src="../images/background/02.jpg" alt="")
	img(src="../images/background/03.jpg" alt="")
	img(src="../images/background/04.jpg" alt="")