div.row
	div.col-md-12
		ul.cb-slideshow
			li
				span Image 01
				div
					if(session.language == 'Mn')
						h3 Агарта цогцолбор
						h4 АГАРТА РЕЗОРТ-руу Хатгал сумаас заамар болон усан тээврээр очих боломжтой. Хэрэв замаар очих бол туулах чадвар өндөр автомашин шаардана.
					if(session.language == "En")
						h3 Agartha Resort
						h4 Agartha Resort can be reached by road and watercourse. If you are on the road you will need a high-powered car.
			li
				span Image 02
				div
					if(session.language == 'Mn')
						h3 Талбайн теннис
						h4 Эрхэм та манай мэргэжлийн багшаар газрын теннисний сургалт авах, гэр бүлээрээ баг болон хуваагдаж хөгжилдөг тоглохыг хүсвэл манайд теннисний ракет хангалттай бий.
					if(session.language == "En")
						h3 Tennis
						h4 A professional tennis intructor's lesson and tennis racket service is available for you if you would like to spend your vacation time valuable with your family.
			li
				span Image 03
				div
					if(session.language == 'Mn')
						h3 Хүүхдийн цэцэрлэг
						h4 Харин "Агарти" энэ бүх асуудлыг тань бүрэн шийдсэн. Бид таныг амарч байх хугацаанд 15-20 хүүхдийн багтаамжтай цэцэрлэг нь нуураас зайдуу байрлах Гэр цэцэрлэгтээ чанартай хоол хүнсээр, тусгайлан зассан хүүхдийн тоглоомын талбай байрласан.
					if(session.language == "En")
						h3 Kinder garten
						h4 This concern has been taken care of at our resort. We welcome 15-20 children at our 8 wall complex Ger kindergarten furnished for children and instructed by professional teachers to make sure your children have fun adventurous summer vacation while you enjoy your vacation.
			li
				span Image 04
				div
					if(session.language == 'Mn')
						h3 Онсен массаж
						h4 Алжаал тайлах үйлчилгээгээрээ зуу зуун жил шагшин магтагдсан Япон загварын Онсенийг, Тай массаж, гоо сайхны иж бүрэн үйлчилгээний хамтаар таньд санал болгож байна.
					if(session.language == "En")
						h3 Onsen massage
						h4 Along with exquisite Thai massage and complex facial spa we offer Japanese Onsen massage which is complimented as the best stress relief massage service over hundreds of years.
			li
				span Image 05
				div
					if(session.language == 'Mn')
						h3 Усан аялал
						h4 Монгол орны хамгийн том нуурын нэг болон 2760 ам.километр талбай бүхий Хөвсгөл нуурыг усан аялалгүйгээр төсөөлөхийн аргагүй. Бид нуурын усан аялалыг санал болгож байна.
					if(session.language == "En")
						h3 Lake Camp
						h4 It is impossible to imagine 2760sq.km Mongolia's one of the largest lake Khuvsgul without a lake tour.
			li
				span Image 06
				div
					if(session.language == 'Mn')
						h3 Мото аялал
						h4 Бартаат замд буюу уул хад, ой мод, тал хээр гэх мэт Монгол орны байгалийн ихэнхи бүсүүдэд ашиглаж болдгоороо давуу талтай Goes болон Grizzly брэндийн 4 дугуйт төмөр хүлгүүдийг таны энэ зуны аяллын бас нэг салшгүй хэсэг болгож бид амралтын газраа зэхээд байна.
					if(session.language == "En")
						h3 Moto tour
						h4 We have prepared Goes and Grizzle brand four whell drives to add an extra adventure for your summer vacation at Agartha Resort which will allow  you to cruise on rocky dirt roads in the endless steppes and the forests.