meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
link(rel="stylesheet" href="../stylesheets/bootstrap.min.css")
link(rel="stylesheet" href="../stylesheets/bootstrap-theme.min.css")
link(rel="stylesheet" href="../stylesheets/fontAwesome.css")
link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="../stylesheets/slider.css")
link(rel="shortcut icon" type="image/x-icon" href="../images/icon.png")
link(rel="stylesheet" href="../stylesheets/demo.css")
link(rel="stylesheet" href="../stylesheets/style.css")
link(rel="stylesheet" href="../stylesheets/elastislide.css")
link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
script(src="https://code.jquery.com/jquery-3.3.1.js")
link(rel="stylesheet" href="../stylesheets/gallery.css")
link(rel="stylesheet" href="../stylesheets/congallery.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
link(rel="stylesheet" href="../stylesheets/menu.css")